<div class="container" *ngIf="request">
  <h2>Request Details</h2>

  <div class="card">
    <h3>{{ request.title }}</h3>
    <p><strong>Owner: {{createdName}}</strong></p>
    <p><strong>Description:</strong> {{ request.description }}</p>
    <p><strong>Category:</strong> {{ categoryName}}</p>
    <p><strong>Location:</strong> {{ request.location }}</p>
    <p><strong>Status:</strong> {{ request.status }}</p>
    <button
      *ngIf="currentUser?.role === 'resident' && request.status === 'assigned'"
      (click)="UpdateRequest('completed')">
      Complete Request
    </button>
    <button
      *ngIf="currentUser?.role === 'resident' && request.status === 'assigned'"
      (click)="UpdateRequest('cancelled')">
      Cancel Request
    </button>
  </div>

  <p class="success" *ngIf="successMessage">{{ successMessage }}</p>
  <p class="error" *ngIf="errorMessage">{{ errorMessage }}</p>

  <div class="card" *ngIf="isProvider">
    <h3>Submit a Quote</h3>

    <form [formGroup]="quoteForm" (ngSubmit)="submitQuote()">
      <label>Price</label>
      <input type="number" formControlName="price" />

      <label>Message</label>
      <textarea formControlName="message"></textarea>

      <label>Days to Complete</label>
      <input type="number" formControlName="daysToComplete" />

      <button type="submit">Submit Quote</button>
    </form>
  </div>

  <div class="card">
    <h3>Quotes</h3>

    <div *ngIf="quotes.length === 0">
      <p>No quotes available yet.</p>
    </div>

    <div class="quote-box" *ngFor="let quote of quotes">
      <p><strong>Price:</strong> ${{ quote.price }}</p>
      <p><strong>Message:</strong> {{ quote.message }}</p>
      <p><strong>Days to Complete:</strong> {{ quote.daysToComplete }}</p>
      <p><strong>Status:</strong> {{ quote.status }}</p>

    <button
      *ngIf="currentUser?.role === 'resident' && quote.status === 'pending'"
      (click)="acceptQuote(quote._id)">
      Accept Quote
    </button>
    </div>
  </div>
</div>